html, body{
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  background-image: url(../images/background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}

.App{
  width: 100%;
  padding-top: 10px;
  overflow-y: auto;
}